<form action="/login" method="POST">
	<label>E-mail</label>
	<input type="text" name="email">
	<label>Password</label>
	<input type="password" name="password">
	<input type="submit" name="submit" value="Login">
</form>