<form action="/register" method="POST">
	<label>E-mail</label>
	<input type="text" name="email">
	<label>Username</label>
	<input type="text" name="username">
	<label>Password</label>
	<input type="password" name="password">
	<label>Password confirmation</label>
	<input type="password" name="password_confirmation">
	<input type="submit" name="submit" value="Register">
</form>